body{
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
i {
    font-size: 30px;
    cursor: pointer;
}

.message {
    background-color: rgb(0, 115, 255);
    color: white;
    padding:0 0.5rem;
    border-radius: 5px;
    right: -100%;
    top: 10px;
    position: absolute;
    transition: all .3s ease;
}

.message p{
      text-align: center;
      font-size: 16px;
}